* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #001428;
}
.main {
    background-image: url("https://img.freepik.com/premium-photo/anime-nature-abstract-art-background-image_492154-533.jpg");
    background-size: max(1200px, 112vw);
    background-position: top;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
}

.main .box {
    height: 800px;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    background-color: black;
}


.login-wrapper
{
    font-family: 'Martel Sans', sans-serif;
    max-width: 85vw;
    margin: auto;
    display: flex;
    align-items: center;
}
.form
{
    width: 100%;
    position: relative;
    max-width: 593px;
    padding: 66px 71px 78px 33px;
    box-shadow: 0 0 73px rgba(8, 0, 90, 13.7);
    background: linear-gradient(to right, #001f3f, #000000);
    color: #fff;
    display: grid;
    gap: 19px;
    margin: 174px 69px 99px 290px;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    z-index: 1;
}

.form .submit-btn {
    width: 70px;
    cursor: pointer;
}
.input-group input {
    height: 22px;
    color: white;
    background-color: rgba(23, 23, 23, 0.7);
    border: 0.5px solid rgba(246, 238, 238, 0.5);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 2px 3px 2px 10px;
}
.submit-btn {
    height: 22px;
    background-color: royalblue;
    color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nato-dark: #004990;
    --nato-light: #118acb;
    --white: #fff;
    --black: #000;

    --width: 183px;
}

.nato-flag {
    inline-size: var(--width);
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    position: relative;
    border-radius: 50%;
    background-image: conic-gradient(
        var(--nato-light) 90deg,
        var(--nato-dark) 0 180deg,
        var(--nato-light) 0 270deg,
        var(--nato-dark) 0 360deg
    );
    box-shadow: 0 0.125em 0.2em #0003, 0 0.5em 0.6235em #0002,
        0 0.75em 1.3em #0002;
    z-index: 1;
}

::after,
::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nato-flag::before {
    width: 3px;
    height: var(--width);
    background-image: linear-gradient(
        to bottom,
        #fff 0 1.75rem,
        #0000 0 calc(100% - 1.75rem),
        #fff calc(100% - 1.75rem) 100%
    );
}

.nato-flag::after {
    width: var(--width);
    height: 3px;
    background-image: linear-gradient(
        to left,
        #fff 0 1.75rem,
        #0000 0 calc(100% - 1.75rem),
        #fff calc(100% - 1.75rem) 100%
    );
}

.compass {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inline-size: calc(var(--width) * 0.75);
    aspect-ratio: 1;
    clip-path: polygon(
        50% 0,
        60% 40%,
        100% 50%,
        60% 60%,
        50% 100%,
        40% 60%,
        0 50%,
        40% 40%
    );
    background-color: var(--white);
}

.compass > * {
    position: absolute;
    inset: 0;
    clip-path: polygon(50% -6px, calc(60% - 6px) calc(40% + 3px), 50% 50%);
    transform: rotate(var(--deg));
}

.top,
.bottom {
    background: var(--nato-light);
}

.left,
.right {
    background-color: var(--nato-dark);
}

.bottom {
    --deg: 180deg;
}

.left {
    --deg: -90deg;
}

.right {
    --deg: 90deg;
}

.border {
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    inline-size: calc(var(--width) * 0.585);
    aspect-ratio: 1;
}

.border::before {
    width: 2.5rem;
    height: calc(100% + 0.5rem);
    background-image: conic-gradient(
        var(--nato-light) 90deg,
        var(--nato-dark) 0 180deg,
        var(--nato-light) 0 270deg,
        var(--nato-dark) 0 360deg
    );
}

.border::after {
    height: 2.5rem;
    width: calc(100% + 0.5rem);
    background-image: conic-gradient(
        var(--nato-light) 90deg,
        var(--nato-dark) 0 180deg,
        var(--nato-light) 0 270deg,
        var(--nato-dark) 0 360deg
    );
}

.compass:hover {
    transition: 1s;
    rotate: 360deg;
}