* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #001428;
}
.main {
    background-image: url(icons/background-image.jpg);
    background-size: max(1200px, 100vw);
    background-position: top;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
}

.main .box {
    height: 800px;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    background-color: black;
}


.login-wrapper
{
    font-family: 'Martel Sans', sans-serif;
    max-width: 85vw;
    margin: auto;
    display: flex;
    align-items: center;
}
.form
{
    width: 100%;
    position: relative;
    max-width: 593px;
    padding: 86px 71px 78px 33px;
    box-shadow: 0 0 73px rgba(8, 0, 90, 13.7);
    background: linear-gradient(to right, #001f3f, #000000);
    color: #fff;
    display: grid;
    gap: 9px;
    margin: 310px 69px 99px 290px;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    z-index: 1;
}

.form .submit-btn {
    width: 70px;
    cursor: pointer;
}

.submit-btn {
    height: 22px;
    background-color: royalblue;
    color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
}