* {
    padding: 0;
    margin: 0;
}

.body {
    background-color: black;
}
.main {
    background-image: url("icons/background-image.jpg");
    background-size: max(1200px, 100vw);
    background-position:top ;
    background-repeat: no-repeat;
    height: 683px;
    position: relative;
}

.main .box {
    height: 683px;
    width: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    max-width: 85vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}
nav img {
    width: 136px;
    position: relative;
    z-index: 10;
    padding-top: 51px;
    padding-right: 0px;
}

nav p {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    /* gap: 23px; */
    /* padding: 0 30px; */
    padding-top: 57px;
    z-index: 10;
    font-family: system-ui;
    font-size: 31px;
    font-weight: 700;
    padding-right: 690px;
}
nav div {
    padding-left: 0px;
    margin-left: 104px;
    margin-right: 68px;
    display: flex;
}

nav button {
    position: relative;
    z-index: 10;
    margin: 7px 2px -35px 2px;
    border-radius: 0.25rem;
    border: none;
    padding: 3px 5px 3px 7px;
    cursor: pointer;
}

.btn-blue-sm {
    background-color: royalblue;
    color: white;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 28px;
    text-align: center;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.hero-buttons i {
    color: white;
}

.main input {
    padding: 10px 111px 12px 13px;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}
.search-icon button{
    height: 39px;
    width: 39px;
    border-top-right-radius: 258px;
    border-top-left-radius: 258px;
    border-bottom-left-radius: 270px;
    border-bottom-right-radius: 270px;
    border: none;
    cursor: pointer;

}

.search-icon img {
    height: 33px;
    width: 31px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 15px;
}



